.calendar-container {
  position: relative;
  background: #1a1a1a;
  border-radius: 12px;
  color: white;
  width: 100%;
  padding: 0.5rem;
  z-index: 8;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar-title {
  margin: 0;
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  flex-grow: 1;
}

.calendar-title:hover {
  color: orange;
}
.calendar-title:focus {
  outline: none;
  color: white;
}

.nav-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover {
  color: orange;
}
.nav-button:focus {
  outline: none;
  color: white;
}
.months-overlay {
  position: absolute;
  padding: 0.5rem;
  top: 90%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #1a1a1a;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.months-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
}

.month-button {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.month-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.month-button.current {
  border: 1px solid #ff8c00;
}

.month-button.selected {
  background: #ff8c00;
}
