.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 0;
}

.iconButton:hover {
  background-color: wheat;
  opacity: 0.8;
}

.iconButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
