.footer-container {
  background: linear-gradient(135deg, #9e9e9e, #4c4c4d);
  padding-top: 0.5rem;
}
.ft1 h2 {
  font-weight: 600;
  font-family: cursive;
}

.footer-icons p {
  padding: 0.5rem;
  font-size: 2rem;
}
.footerList,
li {
  list-style: none;
  font-weight: 500;
  padding: 5px;
}
.underline {
  height: 04px;
  width: 17rem;
  background-color: rgb(133, 131, 124);
  margin-bottom: 10px;
}
