.MuiTableCell-root {
  color: #ffffff !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.MuiIconButton-root {
  color: #3498db !important;
}

/* -- Finance Stats -- */
/* .stats-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  color: white;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.stats-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
} */
