.homeRoot {
  background-image: url(./assets/welcomeImages/color3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--light);
}
.topBar {
  background: linear-gradient(to top, #434343 0%, #000000 45%);
}
.darkCard {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imgStyle {
  max-width: 100%;
  height: auto;
}
.respIcon {
  font-size: clamp(1rem, 2vw, 2rem);
  color: "#000";
  padding: 4px;
  border-radius: 5px;
}

.header {
  font-family: var(--oswald-font);
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: white;
}
.stroke-text {
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
  text-overflow: inherit;
  color: white;
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
