/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
h1 {
  font-size: clamp(1rem, 2vw, 2rem);
}

h2 {
  font-size: clamp(0.8rem, 1.5vw, 2rem);
}

h3 {
  font-size: clamp(0.6rem, 1.2vw, 1.5rem);
}
h4 {
  font-size: clamp(0.6rem, 1.2vw, 1.5rem);
}

h5 {
  font-family: "Roboto", sans-serif;
}
.form-button {
  background-color: #343a40;
  color: #fff;
  font-weight: 500;

  /* border-radius: 5px; */
  /* border-width: 2px; */
  padding: 0.5rem 1rem;
}

.imgStyle {
  max-width: 100%;
  height: auto;
}
.respIcon {
  font-size: clamp(1rem, 2vw, 2rem);
}

body {
  /* overflow: hidden; */
  background-color: #1862ac;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.homeRoot {
  background-image: url(./assets/welcomeImages/color3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.form-control::placeholder {
  color: grey !important;
  opacity: 1;
}
